<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group11.order.mapper.UserOrderRelationsMapper">

    <resultMap id="BaseResultMap" type="com.group11.order.domain.UserOrderRelations">
            <id property="userOrderId" column="user_order_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="orderId" column="order_id" jdbcType="INTEGER"/>
            <result property="note" column="note" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_order_id,user_id,order_id,
        note
    </sql>
</mapper>
